body {
    font: normal medium/1.4 sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid rgb(10, 10, 10);
  }
  thead tr {
    background-color: greenyellow;
  }
  tbody tr:nth-child(odd) {
    background: #eee;
  }